body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 1em 0;
}

h1 {
    color: #333;
}

input#searchBar {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    font-size: 16px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.producto p {
    margin: 5px 0;
}

.producto button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.producto button:hover {
    background-color: #0056b3;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
